<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/search" method="GET">
      <label>
        City
        <input type="text" name="city" />
      </label>

      <label>
        Start-Date
        <input type="date" name="start-date" />
      </label>

      <label>
        End-Date
        <input type="date" name="end-date" />
      </label>

      <label>
        My Custom Input
        <input type="text" name="my-custom-name" />
      </label>

      <button type="submit">SEARCH</button>
    </form>
  </body>
</html>