<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/user-data" method="POST">
      <label for="first-name-input">First Name:</label>
      <input id="first-name-input" type="text" name="firstName" />
      <button type="submit">Save name</button>
    </form>
  </body>
</html>