<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="POST">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" />
      <label for="password">Password</label>
      <input id="password" type="password" name="password" />
      <button type="submit">Login</button>
    </form>
  </body>
</html>