<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/display-user-info">
      <label for="name-input">Name</label>
      <input id="name-input" type="text" name="name" />
      <label for="age-input">Age</label>
      <input id="age-input" type="number" name="age" />
      <label for="superhero-input">Favorite Superhero</label>
      <input id="superhero-input" type="text" name="superhero" />
      <button type="submit">Submit Info!</button>
    </form>
  </body>
</html>